body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2; /* Set background color */
}

.weather-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background-color: #fff; /* Set background color */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

h1 {
  color: #007bff; /* Change heading color */
}

.location {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 60%;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.weather-info {
  margin-top: 20px;
  background-color: #f7f7f7; /* Set background color */
  padding: 10px;
  border-radius: 5px;
}
